@charset "utf-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border-box를 설정안해주면 content-box로 설정됨. */
}


/* .main-content::after{
    content: ""
    background-color: olive;
    display: block;
    clear: both;
} */


/* * is universal element */


/* child element is stronger than parent element */


/* layout architect */

.container {
  background-color: #aaaaaa;
  height: 100vh;
}


/* vh는 viewport height의 abbrev. */

.header,
.visual,
.main-content,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
  /* clockwise로 4가지임. 2개로 쓰면 위아래 & 좌우. 0가 위아래 auto는 자동적으로 좌우가 되겠지*/
}

.header {
  background-color: yellow;
  height: 110px;
}

.visual {
  background-color: blue;
  height: 120px;
}

.main-content {
  background-color: pink;
  height: 60vh;
  display: flex;
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex는 가로방향 */
  /* justify-content: flex-end; */
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center;
  /* items는 전체 위아래 정렬 */
  padding: 30px 15px;
  min-height: 400px;
  /* box-sizing: border-box; */
  /* border-box는 border와 padding을 포함 margin은 포함하지 않음 */
}

.group {
  background-color: lime;
  height: 20vh;
}

.group1 {
  width: 250px;
  /* align-self: cetner; */
  /* align-self는 자기 자신만 지정 */
}

.group2 {
  width: 380px;
  order: 1;
  /* 모든 순서는 0, 0, 0 이다. 1으로 지정해주니 오른쪽 간다 */
}

.group3 {
  width: 190px;
  order: -1;
}

.slogan {
  background-color: orange;
  height: 10vh;
  padding: 15px 0;
}

.footer-bg {
  background-color: purple;
}

.footer {
  background-color: lightblue;
  height: 10vh;
  padding: 15px 0;
}