.box {
  height: 50px;
  width: 50px;
  border: 1px solid #181818;
}
html, body {
  height: 100;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-family: sans-serif;
}
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top {
  background-color: steelblue;
}
.bottom {
  flex-grow: 1;
  background-color: #232323;
}

/*
body tag - height 100% 꽉 찬타. margin padding 0해줘야 한다
css reset

 */