.box {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.65s ease;
  /* transition: transfrom 0.65s ease은 box안에 있어야 한다. 왜냐면 .box.show에 있으면
  .box.show가 사라지면 같이 사라지기 때문 */
}
.box.show {
  transform: scale(50)
}
.boxes {
  display: flex;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top {
  background-color: steelblue;
  text-align: center;
  padding: 20px;
}
.bottom {
  flex-grow: 1;
  background-color: #232323;
  display: flex;
  flex-direction: column;
}
.top div:nth-child(2) {
  font-size: 3em;
}
.game-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box:last-child {
  margin-right: 0;
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  /* 원래 flex였는데 보이지 않게 하기 위해서 none */
  justify-content: center;
  align-items: center;
}
.modal.show {
  display: flex;
}

/* .modal.show 붙여써야 한다. */

.modal-button {
  border: 1px solid white;
  cursor: pointer;
  padding: 10px;
}

/*
body tag - height 100% 꽉 찬타. margin padding 0해줘야 한다
css reset

 */